:root{
    --homeOne: rgb(133, 0, 160);
}
.addNoteForm{
    position: relative;
    width: 350px;
    margin: 40px auto 20px auto;
    background: #fff;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 1px 5px rgb(138, 137, 137);
}
.addNoteInput, .addNoteTextarea{
    font-family: 'Poppins';
    outline: none;
    resize: none;
    border: none;
    width: 100%;
    padding: 4px;
    margin: 5px 0;
    font-size: 1.2rem;
}
#add {
    position: absolute;
    right: 18px;
    bottom: -18px;
    background-image: radial-gradient( circle 975px at 2.6% 48.3%,  rgba(0,8,120,1) 0%, rgba(95,184,224,1) 99.7% );
    color: #fff;
    border: none;
    border-radius: 50%;
    font-size: 1.5rem;
    width: 42px;
    height: 42px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    outline: none;
    scale: 1.1;
}
#add:disabled{
    /* background-color: var(--homeOne); */
    background-image: radial-gradient( circle 860px at 11.8% 33.5%,  rgb(205, 20, 76) 0%, rgb(201, 34, 56) 30.5%, rgba(249,75,37,1) 56.1%, rgba(250,88,19,1) 75.6%, rgba(253,102,2,1) 100.2% );
    scale: 1.1;
}
#add:active:valid{
    background-color: var(--seven);
    scale: 1;
}

.noteContainer{
    width: 300px;
    margin: 10px auto 10px auto;
    background: #fff;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 1px 5px rgb(138, 137, 137);
    text-align: left;
}

.crud-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    margin: 10px 12px 0px 12px;
    z-index: 1;
}
.crud-icons-container{
    height: 25px;
    width: 25px;
    background-image: linear-gradient( 109.6deg,  rgba(61,131,97,1) 11.2%, rgba(28,103,88,1) 91.1% );
    padding: 5px;
    scale: 1.1;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
.crud-icons{
    height: 20px;
    width: 20px;
}
.crud-icons-container:active{
    scale: 1;
    background-image: linear-gradient( 109.6deg,  rgb(50, 110, 81) 11.2%, rgb(19, 91, 76) 91.1% );
}

.displayNote{
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 425px 425px 425px;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
}

@media screen and (max-width: 1230px) {
    .displayNote{
        grid-template-columns: 425px 425px;
    }
}
@media screen and (max-width: 834px) {
    .displayNote{
        grid-template-columns: auto;
    }
}
